body {
    width: 100%
}

.encabezado{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 90px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px; 
    height: 120px; 
    align-self:left;
    align-items: center;
}

.nav-subcontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu{
   text-align: left;
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   color:  white;
   margin-right: 40px;
   align-items: center;
}

body{
    background-color: black;
    color: white;
    width: 100%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: lighter;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: none;
    color: white;
}

a{
    text-decoration-line: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(148, 16, 16);
    color: white;
    height: 110px;
    width: 100%;
    margin-top: 100px;
}
.info_nosotros{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: none;
    color: white;
    font-size: 13px;
}

.logo{
    margin-top: 10px;
}

.img_portada{
    height: 360px;
    width: 250px;
    transition: transform.2s;
}

.img_portada:hover{
    transform: scale(1.1);
 }

.comedia{
    background-color: black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.accion{
    background-color: black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.suspenso{
    background-color: black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.drama{
    background-color: black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.peliculas{
    background-color: black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.series{
    background-color:black;
    width: 100%; 
    height: 400px;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.series_pop{
    background-color:black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pelis_pop{
    background-color:black;
    width: 100%; 
    height: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pelis_val{
    background-color:black;
    width: 100%; 
    height: 400px;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.series_val{
    background-color:black;
    width: 100%; 
    height: 400px;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    text-align: center;
    color:whitesmoke;
    font-size: 18px;
}
 
.estreno {
    text-align: center;
    color:white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.boton_portada{
    color: white;
    background: rgba(77, 80, 90, 0);
    text-decoration-line: none ;
    height: 60px;
    width: 250px;
    border: 0px;
}

.detalle_pelicula {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.detalle_serie{
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.img_detalle{
    width: 420px;
    height: 550px;
}

b{
    color: bisque;
}

.menu_detalle{
    text-align: right;
    margin-right: 60px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  white;
 }

 .boton_detalle{
    color: white;
    background-color:#B7BB16;
    text-decoration-line: none ;
    height: 45px;
    width: 110px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
 }

.lista{
    font-size: 50px;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }

input{
    width: 0px;
    height: 40px;
    font-size: 18px;
    padding: 0 20px;
    color:black;
    outline: none;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
}

input:hover{
    width: 250px;
}
.buscador{
    text-align: right;
    padding: 10px;
    justify-content: right;
}


@media(max-width: 420px){
    a{
        font-size: 15px;
    }
    .img_portada{
        height: 190px;
        width: 120px;
    }
    .encabezado{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .menu{
        align-items: center;
        margin-right: 0px;
    }
    h1{
        font-size: 15px;
    }
    .logo{
        width: 90px; 
        height: 80px
    }
    input{
        height: 20px;
    }
    p{
        font-size: 13px;
    }
    footer{
        height: 140px;
    }
    .img_detalle{
        width: 420px;
        height: 550px;
    }
    .h1_detalle{
        text-align: center;
    }
    .peliculas{
        margin-bottom: 40px;
    }
    .series{
        margin-bottom: 40px;
    }
    .series_pop{
        margin-bottom: 40px;
    }
    .pelis_pop{
        margin-bottom: 40px;
    }
    .pelis_val{
        margin-bottom: 40px;
    }
    .series_val{
        margin-bottom: 40px;
    }

}