.encabezado{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    height: 100px;
    padding: 20px;
    border: solid 5px black;
    background-color: black;
    color: white;
}

.logo{
    width: 140px; 
    height: 100px; 
    align-self: flex-start;
}

.menu{
   text-align: right;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:  white;
   margin-right: 40px;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration-line: none;
    color: white;
}

.logo{
    margin-top: 10px;
}

.img_portada{
    height: 400px;
    width: 280px;
    transition: transform.2s;
}
.img_portada:hover{
    transform: scale(1.1);
 }

.peliculas{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.series{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.series_pop{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pelis_pop{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pelis_val{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}
.series_val{
    background-color:rgb(52, 57, 72);
    width: 100%; 
    height: 500px;
    padding: 20px;
    border: solid 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    text-align: center;
    color:whitesmoke;
    font-size: 25px;
}
 
.estreno {
    text-align: center;
    color:white;
    font-size: 15px;
    background-color:rgb(52, 57, 72);
}

button{
    color: white;
    background-color:rgb(52, 57, 72);
    text-decoration-line: none ;
    height: 60px;
    width: 250px;
    border: 0px;
}

.detalle_pelicula {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.detalle_serie{
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.img_detalle{
    width: 420px;
    height: 550px;
}
b{
    color: bisque;
}
.menu_detalle{
    text-align: right;
    margin-right: 60px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  white;
 }